.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-form>input {
  width: 45%;
  height: 30px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 0px solid white;

  margin: 10px 0;
}

.create-post-form>h3 {
  font-size: 2em;
  margin: 20px;
}

.create-post-form>textarea {
  width: 45%;
  height: 60px;
  font-size: 1.2em;
  border: 0px solid white;
  border-radius: 10px;
}

.createpost-submit-button {
  width: 20%;
  padding: 10px 40px;
  font-size: 1.3em;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .createpost-submit-button {
    width: 100%;
  }

  .create-post-form>input,
  .create-post-form>textarea {
    width: 90%;
  }
}