.login-logo {
  /* height: 200px;width: 250px; */
  margin-top: 14px;
}

.login-page-container {
  margin: 0 auto;
}

.login-form-title {
  font-size: 2.4em;
}

.login-page-header-title {
  margin: 0;
}

.register-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 1.4em;
  padding: 0 10px;
}

.login-header {
  display: flex;
  justify-content: space-around;
}

.login-form>input {
  height: 30px;
  width: 18%;
  font-size: 1.2em;
  padding-left: 15px;
}

.login-submit-button {
  color: white;
  background-color: #0079d3;
  width: 18%;
  height: 30px;
  border: none;
  margin: 10px 0;
  /* padding: 10px 30px; */
  /* font-size: 1em; */
  border-radius: 15px;
  cursor: pointer;
}

.sign-up-here-link {
  color: #0079d3;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .login-page-header-title {
    display: none;
  }


}