.login-title {
  width: 70px;
  margin: 0 auto;
}

.login-form-title {}

.login-page-header-title {
  margin: 0;
}

.register-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 1.4em;
  padding: 0 10px;
}

.login-header {
  display: flex;
  justify-content: space-around;
}

.login-form>input {
  height: 30px;
  /* width: 18%; */
  font-size: 1.2em;
  padding-left: 15px;
}

.sign-up-here-link {
  color: #0079d3;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .login-page-header-title {
    display: none;
  }


}