header {
  background-color: rgb(68, 68, 68);
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 6vh;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

.site-title {
  text-decoration: none;
  align-self: left;
  font-size: 2em;
  margin-left: 70px;
  color: white;
  display: flex;
  align-content: center;
  font-weight: 300;
}

.header-logo {
  height: 100%;
  width: auto;
}

.welcome-text {
  margin: auto 0;
}

.home-button,
.logout-button,
.header-create-post-button {
  text-decoration: none;
  font-size: 1.8em;
  height: 100%;
  padding: 0px 20px;
  /* background-color: white; */
  color: rgb(13, 89, 124);
  justify-self: flex-start;
  border: none;
  color: black;
}

.logout-button {
  align-self: end;
}

@media screen and (max-width: 500px) {
  .welcome-text,
  .site-title,
  .header-logo {
    display: none;
  }

  .header-create-post-button {
    font-size: 1.1em;
  }

  header {
    width: 100vw;
  }
}

@media screen and (max-width: 780px) {
  .header-logo {
    display: none;
  }

  .welcome-text {
    display: none;
  }
}
