.latest-posts-title {
  font-size: 2.5em;
  margin: 0;
}





.postfeed-card-image-container {
  height: 60%;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

.postfeed-card-image {
  height: 100%;
  width: 100%;

}

.postfeed-card-title {
  font-size: 2.5em;
  text-decoration: none;
}

.postfeed-card-title-link {
  text-decoration: none;
}

.postfeed-card-description {
  overflow: scroll;
}

@media screen and (max-width: 500px) {


  .postfeed-card-title {
    font-size: 2em;
  }

 
}
