

.postinfo-main-content button {
  grid-row: 3/4;
  width: 50%;
  border: 1px solid black;
  margin: 0 auto;
}






.comment-input-box {
  display: flex;
  height: 50px;
  justify-content: left;
  margin-bottom: 10px;
}

.comment-input-box>input {
  padding-left: 20px;
  margin: auto 0;
  width: 85%;
  height: 100%;
  background-color: rgb(221, 221, 221);

}

.comment-submit-button {
  height: 100%;
  width: 15%;
  margin: auto 0;
}





@media screen and (max-width: 500px) {
  .postinfo-page-container {
    width: 100%;
  }

  .postinfo-main-content {
    grid-template-columns: 1fr;
  }

  .postinfo-main-content>* {
    grid-column: 1/2;
    display: block;
  }

  .comment-section {
    width: 100%;
  }

  .comment-single-box {
    width: 100%;
    margin: 5px auto;
  }
}