header {
  background-color: white;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .2);
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 5vh;
  padding: 0;
}

.site-title {
  text-decoration: none;
  font-size: 2em;
  color: rgb(13, 89, 124);
}


.header-logo {
  height: 100%;
  width: auto;
}

.welcome-text {
  margin: auto 0;
}


.home-button,
.logout-button,
.header-create-post-button {
  text-decoration: none;
  font-size: 1.8em;
  height: 100%;
  padding: 0px 20px;
  border: 1px solid black;
  background-color: white;
  color: rgb(13, 89, 124);
  justify-self: flex-end;
}

@media screen and (max-width: 480px) {

  .welcome-text,
  .site-title,
  .header-logo {
    display: none;

  }



  header {
    width: 100%;
  }

}