header {
  background-color: lightgrey;
  border: 1px solid black;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 5vh;
  padding: 0;
}

.site-title {
  text-decoration: none;
  font-size: 2em;
  color: rgb(13, 89, 124);
}



.logout-button {
  border: 1px solid black;
  font-size: 1.1em;
  height: 100%;
  padding: 5px 25px;
}

.header-create-post-button {
  height: 100%;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.header-logo {

  height: 100%;
  width: auto;
}

.home-button {
  text-decoration: none;
  font-size: 1.8em;
  height: 100%;
  padding: 0px 20px;
  border: 1px solid black;
  background-color: white;
  color: rgb(13, 89, 124);
}